<%include ../partials/header%>
<%include ../partials/nav%>
<section class="store">
    <!-- <div class="container"> -->
        <h2 class="text-center">STORE</h2>
        <p></p>
        <div class="conatiner text-center"> 
                <h3>RAGE FITNESS</h3>
                <p>ALL</p>
            </div>
            

            
        <div class="row">
            
                <div class="col-lg-2">
                        <ul class="list-group list-group-flush">
                                <li class="list-group-item">All Products</li>
                                <li class="list-group-item">Base Layers</li>
                                <li class="list-group-item">Bottoms</li>
                                <li class="list-group-item">T-Shirts & Tops</li>
                                
                              </ul>
                              
                </div>
                <div class="col-lg-9">
                        <div class="card-deck">
                        <%for(var i = 0; i < foundproduct.length;i++){%>
                   
                          
                                <div class="col-lg-3 col-md-6 col-sm-10" style="padding-top:15px;">
                                        <div class="card " >
                                                <div class="view overlay">
                                                        <img src="<%=foundproduct[i].ProductImage%>" class="img-fluid" alt="">
                                                        <a>
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>
                                                    </div>
                                                    <!--Card content-->
                <div class="card-body text-center">
                        <!--Category & Title-->
                        <a  class="grey-text">
                            <h5 class="text-dark"><%=foundproduct[i].ProductType%></h5>
                        </a>
                        <h5>
                            <strong>
                                <a href="/store/<%= foundproduct[i]._id%>" class="text-secondary"><%=foundproduct[i].ProductTitle%>
                                    <span class="badge badge-danger">NEW</span>
                                </a>
                            </strong>
                        </h5>
    
                        <h4 class="font-weight-bold blue-text">
                            <strong>£ <%=foundproduct[i].ProductPrice%></strong>
                        </h4>
    
                    </div>
                                              </div>
                                  </div>
                              
                            
                             
                              <%}%> 
                          </div>
                          
                       
                           
                
        
      
    </div>
    </div>
</section>

<%include ../partials/footer%>
