<%include ../partials/header%>
<%include ../partials/nav%>
<section style="background-image: url(images/producthero.jpg); width: 100%; min-height: 539px; background-size: cover; background-position: center 0; background-repeat: no-repeat;">

 

</section>
<section class="store p-t-55 p-b-65">
    <!-- <div class="container"> -->
        <h2 class="text-center">STORE</h2>
        <p></p>
        <div class="conatiner text-center"> 
                <h3>RAGE FITNESS</h3>
              
            </div>
            

            <div class="">

            
        <div class="row">
            
                <div class=" col-sm-12 col-md-4 col-lg-3 table1" >
                        <ul class="list-group list-group-flush text-center " style="padding-left: 60px;">
                                <li class="list-group-item text-muted lead">SHOP BY CATEGORY</li>
                                <li class=""><a href="/store" class="text-dark">All Products</a> </li>
                                <li class=""><a href="/Accessories" class="text-dark">Accessories</a></li>
                                <li class=""><a href="/HOODIES" class="text-dark">Hoodies</a></li>
                                <li class=""><a href="/tshirt" class="text-dark">T-Shirts</a></li>
                                
                              </ul>
                           <div class="" style="padding-left: 40px;">
                            <h4 style="padding-left: 20px; padding-top: 30px">Filter</h4>
                          
                                            
                            <div class="dropdown show" style="padding-left: 20px; padding-top: 10px">
                                  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Price
                                  </a>

                           </div>
                             
                                  
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                      <a class="dropdown-item" href="#">£0 - £15</a>
                                      <a class="dropdown-item" href="#">£0 - £25</a>
                                      <a class="dropdown-item" href="#">£0 - £50</a>
                                    </div>
                                  </div>
                 
               
                              
                </div>
                
                
                    
                <div class="col-sm-12 col-md-7 col-lg-9">
                        <div class="row">
                        <%for(var i = 0; i < foundproduct.length;i++){%>
                   
                          
                                <div class="col-lg-4 col-md-6 col-sm-10 " style="padding-top:15px;" style="max-width: 33.333333%;">
                                        <div class="card " >
                                                <div class="">
                                                        <img src="<%=foundproduct[i].ProductImage%>" class="img-fluid" alt="">
                                                        <a>
                                                            <div class="mask rgba-white-slight"></div>
                                                        </a>
                                                    </div>
                                                    <!--Card content-->
                <div class="card-body text-center">
                        <!--Category & Title-->
                        <a  class="grey-text">
                            <h5 class="text-dark"><%=foundproduct[i].ProductType%></h5>
                        </a>
                        <h5>
                            <strong>
                                <a href="/store/<%= foundproduct[i]._id%>" class="text-secondary"><%=foundproduct[i].ProductTitle%>
                                    <span class="badge badge-danger">NEW</span>
                                </a>
                            </strong>
                        </h5>
    
                        <h4 class="font-weight-bold blue-text">
                            <strong>£ <%=foundproduct[i].ProductPrice%></strong>
                        </h4>
    
                    </div>
                                              </div>
                                  </div>
                              
                                
                             
                              <%}%> 
                            </div>
                          </div>
                          
                       
                           
                
        
      
    </div>
    

</section>

<%include ../partials/footer%>
