
<%include ../partials/header%>

<%include ../partials/cmsnav%>

<section id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <h1>
                    <i class="fas fa-cogs"></i>
                    Dashboard <small>Manage Your Site</small></h1>
            </div>
        </div>
        <div class="col-md-2">

        </div>
    </div>
</section>

<!-- breadcrumb section -->
<section id="breadcrumb">
    <div class="container">
        <ol class="breadcrumb">
           <li class="active"> Store Dashboard</li> 
        </ol>
    </div>
</section>

<section class="showclass">
    <div class="container">
          <h2 class="text-center">ADD A NEW CLASS</h2>
          <form form action="/cmsclass/<%=Class._id%>?_method=PUT" class="" method="POST" enctype="multipart/form-data" >
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="class">Class Name:</label>
                        <input type="text" class="form-control" name="classname" placeholder="Class Name" value="<%=Class.className%>">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="classType">Class Type:</label>
                        <input type="text" class="form-control"   name="classtype" placeholder="Class Type" value="<%=Class.classType%>">
                    </div>
                  </div>
                  <div class="form-group">
                          <label for="image">Class Image:</label>
                          <input type="file"  id="image" name="Classimage" placeholder="Class Image" accept="image/*">
                  </div>
                  <div class="form-group">
                    <label for="comment">Class Description:</label>
                    <input type="text" class="form-control" name = "classdescription" placeholder="Product Size"value="<%=Class.classDescription%>">
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="comment">Class Day:</label>
                        <select name="classday" class="custom-select"value="<%=Class.classDay%>">
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wenesday">Wenesday</option>
                            <option value="Thursaday">Thursaday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                            <option value="Sunday">Sunday</option>
                          </select>
                        
                    </div>
                    <div class="form-group col-md-4">
                        <label for="comment">Class Start Time:</label>
                        <input type="text" class="form-control" name = "classStartTime" placeholder="" value="<%=Class.classStartTime%>">
                    </div>
                    <div class="form-group col-md-2">
                          <label for="comment">Class End Time:</label>
                          <input type="text" class="form-control" name = "classEndTime" placeholder=""value="<%=Class.classEndTime%>">
                    </div>
                  </div>
                  <div class="form-group col-md-12">
                     
                          <label for="comment">Class Info:</label>
                          <textarea type="text" class="form-control" name = "classInfo" placeholder="Product Size" required>
                              </textarea>
                          </div>
                  
                  <button type="submit" class="btn btn-primary">SUBMIT</button>
                </form>
                <form action="/cmsclass/<%=Class._id%>/?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-primary" >Delete</button>
                    </form>
    </div>
</section>



       <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>