<%include ../partials/header%>
<%include ../partials/nav%>

<section class="blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                    <h3 class="text-center blogtitle "><%=foundblog.blogTitle%></h3>
                    <img src="<%=foundblog.blogImage%>" class="img-fluid" alt="">
                    <p class="blogdetail"><%=foundblog.blogIntro%></p>
                    <p class="blogdetailmain"><%=foundblog.blogmainsection%></p>
                    <p class="blogdetailintro"><%=foundblog.blogDescription%></p>
                    <p class="blogconclusion"><%=foundblog.blogconclusion%></p>

            </div>
                <div class="col-lg-4 " style="padding-left: 60px;">
                    <div class="text-center">
                            <span >BY <%=foundblog.blogAuthor%></span>
                            
                    </div>
                    <%for(var i = 0; i < foundblogs.length;i++){%>
                        
                    <div class="latepost">

                            
                        <div class="card border-0 ">
                                <h6 class="text-center recomend">Post that might interest you</h6>
                            <img class="card-img-top " src="<%= foundblogs[i].blogImage%>" alt="Card image cap">
                            <div class="card-body blogcard-body">
                              <h5 class="card-title"><%= foundblogs[i].blogTitle%></h5>
                              <p class="card-text blogcard-text"><%= foundblogs[i].blogDescription.substring(0,200) %></p>
                              <p class="card-text blogcard-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            </div>
                          </div>
                          <%if(i >= 1 ){%>
                            <%break%>
                            <%}%> 
                        </div>
                        <%}%>  
 
                        
                        
                               
                            <table class="table table-hover "  >
                                    CATEGORIES
                                   
                                    <tbody>
                                      <tr>
                                        
                                        <td> <a href="" class="catlink">Growth</a>  
                                            </td>
                                        
                                      </tr>
                                      <tr>
                                       
                                        <td>  <a href="" class="catlink">Tips</a> 
                                            </td>
                                       
                                      </tr>
                                      <tr>
                                        
                                        <td colspan="2"><a href="" class="catlink">Local</a> 
                                            </td>
                                       
                                      </tr>
                                    </tbody>
                                  </table>  
                                    
                            </div>
                                
                        </div>
                        
                </div>
                
            
            
            
        </div>
           
    </div>
</section>

<section class="comment">
    <div class="container">
            <div class="row">
                    <div class="col-lg-8">
                            <h3 class=" title text-center">COMMENTS</h3> 
                        <%for(var i = 0; i < foundblog.comments.length;i++){%>

                        <div class="media mb-3">
                            <div class="text-center">
                                    <img style="border-radius: 50%;" width="100px"; height="100px"; src="<%= foundblog.comments[i].author.avatar%>" alt="">
                                <h6 class="mt-1 mb-0 mr-3 username"><%= foundblog.comments[i].author.username%></h6>
                            </div>
                            <div class="media-body">
                                <p class="mt-3 mb-2 comment"><%= foundblog.comments[i].text%></p>
                            </div>
                            
                        </div>
                        <hr class="mb-3 mt-4 pb-3">
                        <%}%>   



                            <h3 class=" title text-center">Post your comment</h3>   
                            <div class="media media-post">
                                <a class="float-left author">
                                    
                                    <div class="avatar">
                                            <% if(currentLogedUser){%>
                                        <img style="border-radius: 50%;" width="150px"; height="150px"; src="<%=currentLogedUser.avatar%>" alt="">
                                        <%}%> 
                                    </div>
                                </a>
                                <div class="media-body ">
                                        <form action="/blogs/<%= foundblog._id%>/comment" method="POST">
                                          
                                                <textarea name="comment[text]" style=" outline:none ;resize: none; max-width:100%; max-height:80px; border:none; border-bottom: 1px solid grey; margin-left: 20px;; line-height:1.5;" class="form-contol" placeholder="write nice comments or go home..." rows="4"></textarea>
                                          
                                                <div class="media-footer">
                                                        <button type="submit" class="btn btn-primary float-right btn-danger">Comment</button>
                                                    
                                                </div>
                                        </form>
                                            
                                        </div>
                            </div> 
                          

                    
                    </div>
                  
            </div>
      

    </div>
</section> 



<%include ../partials/footer%>