<%include ../partials/header%>
<%include ../partials/nav%>

<!-- class image display -->
<section class="main-img sho-content">
    <div class="container">
            <img src="<%=foundclass.classImage%>" alt=""></div>
        
</section>

<!-- class info -->
<section class="class-info">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                   
                <h2 class="classtitle"><%=foundclass.className%></h2> 
                <p class="classdetail"><%=foundclass.classInfo%> </p>
                </div>
            <div class="col-md-5">
                <h2 class="classtitle">TIMETABLE</h2>
                <p>How many times per week</p>
                <!-- time table -->
                <ul class="list-group ">
                        <li class="list-group-item d-flex justify-content-between"><%=foundclass.classDay%> 
                            <span><%=foundclass.classStartTime%> — <%=foundclass.classEndTime%></span>
                        </li>
                       
                       
                      </ul>
            </div>
        </div>
    </div>
    
</section>

<!-- health info -->
<section class="health-info">
    <div class="container ">
        <div class="row">
            <div class="col-md-4">
                    
                <h4 class="healthinhead">STAY HEALTHY<span class="text-danger healthi"> <i class="fas fa-heartbeat"></i></span></h4> 
                <p class="healthp">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
            <div class="col-md-4">
                  
                <h4 class="healthinhead">BETTER HEART RATE<span class="text-danger healthi"> <i class="fas fa-glass-martini"></i></span></h4>
                <p class="healthp">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-md-4">
                   
                <h4 class="healthinhead">WEIGHT LIFTING<span class="text-danger healthi"> <i class="fas fa-life-ring"></i></span></h4>
                <p class="healthp">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>





<%include ../partials/footer%>
